/*@import "~normalize.css";*/

* {
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: 0;
  outline: none;
}

.split {
  overflow-y: auto;
  overflow-x: hidden;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.gutter.gutter-horizontal {
  background-color: #eeeeee;
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-color: #eeeeee;
  cursor: ew-resize;
}

.split .box {
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
